<div class="rounded-2xl w-full overflow-hidden bg-slate-50"
     [ngClass]="{'shadow': !isExpanded, 'shadow-lg': isExpanded}"
     cdkDropList
     cdkDropListOrientation="vertical"
     (cdkDropListDropped)="drop($event)"
>
	<div class="flex items-center p-4 justify-between bg-white">
		<input type="text" id="mqtt-server"
		       class="form-input rounded-lg border-transparent appearance-none border border-slate-300 py-2 px-4 mr-1 bg-white text-slate-700 placeholder-slate-400 hover:shadow text-base focus:outline-none focus:ring-1 focus:ring-slate-600 focus:border-transparent"
		       placeholder="192.168.10.10"
		       [formControl]="jobName"
		>
		<div class="flex gap-2">
			<button class="text-sm p-1 w-8 h-8 leading-6 text-slate-600 border shadow hover:shadow-md bg-slate-100 border border-slate-200 rounded-lg bg-gradient-to-br to-slate-200 from-slate-100">
				<span class="icon-download"></span>
			</button>
			<button class="text-sm p-1 w-8 h-8 leading-6 text-slate-600 border shadow hover:shadow-md border border-slate-200 rounded-lg bg-gradient-to-br to-slate-200 from-slate-100 hover:shadow-red-500/50">
				<span class="icon-rec"></span>
			</button>
			<button class="text-sm p-1 w-8 h-8 leading-6 text-slate-600 border shadow hover:shadow-md bg-slate-100 border border-slate-200 rounded-lg hover:shadow-sky-500/50 bg-gradient-to-br to-slate-200 from-slate-100">
				<span class="icon-play"></span>
			</button>
		</div>
	</div>
	<div class="h-fit overflow-y-scroll" *ngIf="isExpanded">
		<app-blaster-event
				*ngFor="let event of job.items; index as idx"
				[order]="idx"
				(onClone)="clone(idx)"
				(onDelete)="delete(idx)"
				(onEdit)="edit(idx)"
				[event]="event"
				cdkDrag
		></app-blaster-event>
	</div>
	<div class="py-4 px-4 text-slate-600 bg-white cursor-pointer font-cond text-center border-y border-slate-200"
		(click)="isExpanded = !isExpanded">
		<span class="align-middle text-lg icon-arrow-down transition-transform"
		      [ngClass]="{'icon-arrow-down': !isExpanded, 'icon-arrow-up': isExpanded}"
		></span>
		{{isExpanded ? 'Collapse' : 'Expand'}}
	</div>
	<div class="py-4 px-4 text-slate-600 flex items-center justify-between bg-white cursor-pointer">
		<div class="actions flex items-center font-cond justify-between gap-2">
			Total events: {{job.items.length}} | Estimate time: {{estimate | duration}}
		</div>
	</div>
</div>
