<div class="relative font-cond">
	<div class="flex items-center my-4 rounded justify-start">
		<span class="shadow hover:shadow-md border border-slate-200 rounded-lg p-3 w-11 h-11 bg-slate-100 text-center align-middle"
		      [ngClass]="glow"
		      [appDropdownButton]="dropdownThis">
			<i [ngClass]="icon"></i>
		</span>
		<div class="flex shrink-0 flex-col ml-2 items-start justify-evenly">
			<div class="text-md">{{status}}</div>
			<div class="text-xs text-slate-600">{{label}}</div>
		</div>
	</div>
	<app-dropdown #dropdownThis>
		<div class="absolute z-10 top-0 left-0 origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 py-1 " role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
			<div *ngFor="let opt of options; index as i" (click)="onSelect(opt.value)"
			     class="block block px-4 py-2 text-md text-gray-700 hover:bg-gray-100 hover:text-gray-900"
			     role="menuitem">
                <span class="flex flex-col">
                    <span>
                        {{opt.label}}
                    </span>
                </span>
			</div>
		</div>
	</app-dropdown>
</div>
