<div class="insert-before h-0 w-0 m-auto flex items-center justify-center gap-3 transition-all duration-300 ease-in">
	<span class="hidden icon-add rounded-full bg-white shadow p-2 text-slate-500"></span>
	<div class="events-to-add hidden absolute  rounded-md inset-x flex flex-row gap-2 bg-white shadow-xl border border-slate-200 py-2 px-4 items-center">
		<span class="font-cond">Insert before</span>
		<button class="text-sm p-1 w-8 h-8 leading-6 text-slate-600 border shadow hover:shadow-md border border-slate-200 rounded-lg bg-white bg-gradient-to-br to-slate-200 from-slate-100">
			<span class="icon-grid"></span>
		</button>
		<button class="text-sm p-1 w-8 h-8 leading-6 text-slate-600 border shadow hover:shadow-md border border-slate-200 rounded-lg bg-white bg-gradient-to-br to-slate-200 from-slate-100">
			<span class="icon-time-quarterpast"></span>
		</button>
	</div>
</div>
<div class="py-4 px-4 text-gray-600 flex items-center justify-between bg-white cursor-pointer"
     [ngClass]="{'border-b border-slate-200': !isLast}"
>
	<span class="count opacity-0 absolute ml-0 mx-4 transition-all duration-300 ease-out drop-shadow font-cond"
	      *ngIf="order !== -1"
	>
		{{order | count}}
	</span>
	<p class="leading-6 flex items-center gap-3 flex-grow" *ngIf="isSignal(event)">
		<span class="icon-grid"></span>
		<span class="bg-gray-500 font-bold text-white text-center py-1 px-2 text-xs rounded">{{getProtocol(event)}}</span>
		<span class="font-mono">Key: {{event.data.code | keyCode:(remotes.active$ | async)}}</span>
	</p>
	<p class="text leading-6 flex items-center gap-3 flex-grow" *ngIf="isSleep(event)">
		<span class="icon-time-quarterpast"></span>
		<span class="font-cond">Timeout (ms):
			<input class="form-input rounded-lg border-transparent appearance-none border border-gray-300 py-2 px-4 mr-1 bg-white text-gray-700 placeholder-gray-400 hover:shadow text-base focus:outline-none focus:ring-1 focus:ring-slate-600 focus:border-transparent"
			       type="number" step="50" placeholder="100"
			       [formControl]="eventValue"/>
		</span>
		</p>
	<div class="flex items-center gap-2">
		<div class="actions hidden flex items-center justify-between gap-2">
			<button class="text-sm p-1 w-8 h-8 leading-6 text-slate-600 border shadow hover:shadow-md bg-slate-100 border border-slate-200 rounded-lg hover:shadow-green-500/50"
			        (click)="onClone.emit()">
				<span class="icon-duplicate"></span>
			</button>
			<button class="text-sm p-1 w-8 h-8 leading-6 text-slate-600 border shadow hover:shadow-md bg-slate-100 border border-slate-200 rounded-lg hover:shadow-red-500/50"
			        (click)="onDelete.emit()">
				<span class="icon-trash"></span>
			</button>
		</div>
	</div>
</div>
<div class="insert-after h-0 w-0 m-auto flex items-center justify-center gap-3 transition-all duration-300 ease-in">
	<span class="hidden icon-add rounded-full bg-white shadow p-2 text-slate-500"></span>
	<div class="events-to-add hidden absolute rounded-md inset-x flex flex-row gap-2 bg-white shadow-xl border border-slate-200 py-2 px-4 items-center">
		<span class="font-cond">Insert after</span>
		<button class="text-sm p-1 w-8 h-8 leading-6 text-slate-600 border shadow hover:shadow-md border border-slate-200 rounded-lg bg-white bg-gradient-to-br to-slate-200 from-slate-100">
			<span class="icon-grid"></span>
		</button>
		<button class="text-sm p-1 w-8 h-8 leading-6 text-slate-600 border shadow hover:shadow-md border border-slate-200 rounded-lg bg-white bg-gradient-to-br to-slate-200 from-slate-100">
			<span class="icon-time-quarterpast"></span>
		</button>
	</div>
</div>
