<div class="min-h-screen gap-3 flex flex-row flex-wrap">
	<div>
		<app-blaster [blaster]="blaster"></app-blaster>
	</div>
	<div class="flex-1 gap-10">
		<app-blaster-job [job]="job" [activeIdx]="activeIdx" (activeIdxChanged)="onEditEvent($event, job)"></app-blaster-job>

		<div class="shadow-md rounded-2xl w-full overflow-hidden bg-slate-50 mt-4">
			<div class="py-4 px-4 text-gray-600 bg-white cursor-pointer font-cond text-center"
			     (click)="addJob()">
				<span class="align-middle text-lg icon-arrow-down transition-transform icon-add"></span>
			</div>
		</div>
	</div>
	<div class="sticky top-0 z-50">
		<app-remote [remote]="remotes.remotes['sony']" (onPress)="add($event)"></app-remote>
	</div>
</div>
